<a href="https://colab.research.google.com/github/hdborba/estudos_cd_py_r/blob/main/10_tempo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [16]:
#importar os dados
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
tempo = pd.read_csv('/content/drive/MyDrive/data/tempo.csv', sep=";")
tempo

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [26]:
tempo.describe()

       Temperatura     Umidade
count    14.000000   13.000000
mean    155.571429   89.769231
std     306.433759   34.540203
min      64.000000   65.000000
25%      69.250000   70.000000
50%      73.500000   85.000000
75%      80.750000   90.000000
max    1220.000000  200.000000

In [28]:
tempo.groupby(['Aparencia']).size()

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [29]:
tempo.groupby(['Aparencia']).describe()

          Temperatura                                ... Umidade
                count        mean         std   min  ...     25%   50%     75%    max
Aparencia                                            ...
chuva             5.0   69.800000    3.701351  65.0  ...    77.5  85.5  118.25  200.0
menos             1.0   64.000000         NaN  64.0  ...    65.0  65.0   65.00   65.0
nublado           3.0   78.666667    5.859465  72.0  ...    80.5  86.0   88.00   90.0
sol               5.0  305.800000  511.087762  69.0  ...    70.0  85.0   90.00   95.0

[4 rows x 16 columns]

In [34]:
# ajusta os valores da coluna Aparencia para "sol, nublado e chuva"
tempo['Aparencia'] = tempo['Aparencia'].replace(['menos'], 'chuva')
tempo

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      chuva           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [38]:
tempo['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [45]:
tempo.loc[tempo['Temperatura'] > tempo['Temperatura'].mean(), 'Temperatura'] = tempo['Temperatura'].median()
tempo

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol        72.75     85.0       FALSO   nao
1        sol        72.75     90.0  VERDADEIRO   nao
2    nublado        72.75     86.0       FALSO   sim
3      chuva        70.00      NaN       FALSO   sim
4      chuva        68.00     80.0       FALSO   sim
5      chuva        65.00     70.0  VERDADEIRO   nao
6      chuva        64.00     65.0  VERDADEIRO   sim
7        sol        73.50     95.0       FALSO   nao
8        sol        69.00     70.0       FALSO   sim
9      chuva        72.75    200.0         NaN   sim
10       sol        72.75     70.0  VERDADEIRO   sim
11   nublado        72.00     90.0  VERDADEIRO   sim
12   nublado        72.75     75.0       FALSO   sim
13     chuva        71.00     91.0  VERDADEIRO   nao

In [52]:
tempo.loc[tempo['Umidade'] > tempo['Umidade'].mean(), 'Umidade'] = tempo['Umidade'].median()
tempo['Umidade'].fillna(tempo['Umidade'].median(), inplace=True)
tempo

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol        72.75     85.0       FALSO   nao
1        sol        72.75     85.0  VERDADEIRO   nao
2    nublado        72.75     85.0       FALSO   sim
3      chuva        70.00     85.0       FALSO   sim
4      chuva        68.00     85.0       FALSO   sim
5      chuva        65.00     70.0  VERDADEIRO   nao
6      chuva        64.00     65.0  VERDADEIRO   sim
7        sol        73.50     85.0       FALSO   nao
8        sol        69.00     70.0       FALSO   sim
9      chuva        72.75     85.0         NaN   sim
10       sol        72.75     70.0  VERDADEIRO   sim
11   nublado        72.00     85.0  VERDADEIRO   sim
12   nublado        72.75     75.0       FALSO   sim
13     chuva        71.00     85.0  VERDADEIRO   nao

In [53]:
tempo.groupby('Vento').size()

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [55]:
tempo['Vento'].fillna('Falso', inplace=True)
tempo

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol        72.75     85.0       FALSO   nao
1        sol        72.75     85.0  VERDADEIRO   nao
2    nublado        72.75     85.0       FALSO   sim
3      chuva        70.00     85.0       FALSO   sim
4      chuva        68.00     85.0       FALSO   sim
5      chuva        65.00     70.0  VERDADEIRO   nao
6      chuva        64.00     65.0  VERDADEIRO   sim
7        sol        73.50     85.0       FALSO   nao
8        sol        69.00     70.0       FALSO   sim
9      chuva        72.75     85.0       Falso   sim
10       sol        72.75     70.0  VERDADEIRO   sim
11   nublado        72.00     85.0  VERDADEIRO   sim
12   nublado        72.75     75.0       FALSO   sim
13     chuva        71.00     85.0  VERDADEIRO   nao

In [56]:
tempo.to_csv('/content/drive/MyDrive/data/tempo_ajustado.csv')